.delivery {
  padding-top: 110px;
  padding-bottom: 85px; 
  background: rgba(255,171,37,1);
  background: radial-gradient(ellipse farthest-corner at left bottom, rgba(255,171,37,0.85) 0%, rgba(254,181,8,0.85) 100%),
              url('../../img/delivery/delivery-bg.png');
}

.delivery__about {
  @extend %tacenter;
}

.delivery__title {
  color: #393939;
}

.delivery__desc {
  padding: 0 12%;
  font-size: 16px;
  color: #883213;

  a {
    color: #393939;
    text-decoration: underline;
  }
}

.delivery__list {
  font-size: 0;
}

.delivery__item {
  width: 25%;
  display: inline-block;
  @extend %tacenter;
}

.delivery__img {
  position: relative;
  padding: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.delivery__img-pic {
  position: absolute;
  top: 0;
  left: -9999px;
}

.delivery__item-title {
  font-family: malina;
  font-size: 32px;
  color: #393939;
}

.delivery__item-desc {
  padding: 0 10%;
  font-size: 14px;
  color: #ab594a;
}
